---
# Chapter One
#
layout: default
type: chapter
chapter_number: "1"
image: chapter_1_feature.jpg

en:
  title: What it is
  intro: "HIV is a virus that attacks the body’s own defenses - the immune system – making it less able to fight other diseases and infections. Untreated HIV leads to AIDS, when the body can no longer fight infections. There is no cure for HIV/AIDS, so beating it depends on preventing new infections and treating existing infections – for life. Recently the ARV drugs have become good enough to offer a normal life expectancy. There will be many innovations in the coming decades around HIV, and maintaining effort in preventing, diagnosing and treating HIV/AIDS is critical in order to work towards eventual elimination."
vi:
  title: Nó là gì
  intro: "HIV là một virus tấn công hệ thống miễn dịch – cơ chế phòng thủ của cơ thể - khiến nó không thể chống lại các loại bệnh và nhiễm trùng. HIV không được chữa trị dẫn đến AIDS, khi cơ thể không thể chống lại các bệnh nhiễm trùng. Không có thuốc chữa nào cho HIV/AIDS, vì vậy để đối phó thì tuỳ thuộc vào phòng ngừa nhiễm trùng mới và điêu trị tình trạng nhiễm trùng hiện tại – suốt đời. Hiện tại ARV đã rất tân tiến và cho phép người bệnh có một tuổi thọ bình thường. Sẽ có nhiều sự cải tiến xoay quanh HIV trong các thập niên tiếp theo, và tiếp tục nỗ lực phòng ngừa, chẩn đoán và chữa trị HIV/AIDS là vô cùng quan trọng trong việc tiến tới loại trừ hoàn toàn"
---


{% include header.html %}
{% include chapter_content.html %}
