---
layout: default
type: chapter
chapter_number: "5"
image: chapter_5_feature.jpg

en:
  title: ARV
  intro: "ARV are the life preserving drugs that now allow PLWHIV the possibility of living a normal life expectancy. However with great treatment comes great risk and the inconsistent use of ARV can result in drug resistance.  As are only 3 or 3 regimen for ARV this presents quite a challenge for PLWHIV. Taking the right pills everyday for their remaining life, at the right time of day. Not easy for the most organsied person let alone the often poorer HIV community members."
vi:
  title: ARV
  intro: "ARV là phương thuốc đã cho người sống chung với HIV một cơ hội có quãng đời bình thường. Tuy nhiên cùng với phương pháp điều trị tuyệt vời là những rủi ro và việc điều trị thất thường của ARV sẽ dẫn đến kháng thuốc. Vì chỉ có 3 phác đồ điều trị cho ARV, điều này là một thử thách cho người chung sống với HIV. Uống đúng loại thuốc vào đúng giờ cho đến cuối đời không hề dễ  cho những ai ngăn nắp đừng nói đến cộng đồng khó khăn hơn về mặt kinh tế này."
---
{% include header.html %}

<div id="chapter" class="chapter_wrap chapter{{ page.chapter_number }}">
  <div id="bgimage" class="bgimage"></div>
  <aside class="sidebar">
    {% include chapter_nav.html %}
    {% include theme_nav.html chapter_number=page.chapter_number %}
  </aside>

  <header id="intro" class="header--chapter">
    {% include chapter_head.html %}
  </header>

  <main class="main" role="main">
    {% include theme_loop.html chapter_number=page.chapter_number %}
  </main>
</div>
