---
layout: default
type: chapter
chapter_number: "2"
image: chapter_2_feature.jpg

en:
  title: Transmission
  intro: "HIV can be transmitted in different ways, but always by direct contact with body fluids of someone who has HIV. In Vietnam the risk groups and behaviors linked to HIV transmission are well documented and understood. In the early days of HIV in Vietnam, transmission was able to take off due to the significant sex work industry and populations using intravenous drugs such as heroin. These are still some of the main risk groups, however the trends in transmission are constantly changing so researchers need to work hard to keep on top of those developments."
vi:
  title: Lây Nhiễm
  intro: "HIV có thể được lẫy nhiễm qua nhiều cách, nhưng thông thường là qua tiếp xúc trực tiếp với dịch cơ thể của người mang mầm bệnh HIV. Tại Việt Nam, các nhóm nguy cơ và có hành vi nguy cơ liên quan đến lây nhiễm HIV được ghi nhận và tìm hiểu thấu đáo. Vào những ngày đầu của HIV tại Việt Nam, mật độ lây nhiễm lan nhanh là nhờ vào quy mô của ngành lao động tình dục và một dân số sử dụng tiêm chất gây nghiện qua đường tiêm chích như ma tuý. Đây vẫn là các nhóm nguy cơ chính, tuy nhiên xu hướng lây nhiễm đang có sự thay đổi liên tục, vì vậy các nhà nghiên cứu đang làm việc ngày đêm để theo dõi các sự tiến triển này."
---


{% include header.html %}
{% include chapter_content.html %}
