---
layout: default
type: chapter
chapter_number: "5"
image: chapter_5_feature.jpg

en:
  title: ARV
  intro: "ARV are the life preserving drugs that allow the HIV + community the prospect of normal life expectancy. However with great treatment comes great risk and the inconsistent use of ARV can result in drug resistance.  As there are limited ARV regimens this presents quite a challenge for HIV+ communities. Taking the right pills everyday for life - at the right time of day - is not going to be easy for the most organised person. What happens to those living more complex lives?"
vi:
  title: ARV
  intro: "ARV là phương thuốc đã cho người sống chung với HIV một cơ hội có tuổi thọ bình thường. Tuy nhiên cùng với phương pháp điều trị tuyệt vời là những rủi ro và việc điều trị thất thường của ARV sẽ dẫn đến kháng thuốc. Vì chỉ có 3 phác đồ điều trị cho ARV, điều này là một thử thách cho người chung sống với HIV. Uống đúng loại thuốc vào đúng giờ cho đến cuối đời không hề dễ  cho những ai ngăn nắp đừng nói đến cộng đồng khó khăn hơn về mặt kinh tế này."
---

{% include header.html %}
{% include chapter_content.html %}
