---
layout: default
type: chapter
chapter_number: "4"
image: chapter_4_feature.jpg


en:
  title: Testing and Diagnosis
  intro: "HIV testing and diagnosis is the most essential aspect of both care and prevention.  Early testing means people are aware of their HIV status and can take steps to prevent onwards transmission to others. They can also begin to access the support and care they need to manage their illness. Learn more about this essential aspect of care and prevention."
vi:
  title: Chẩn đoán và Xét nghiệm
  intro: "Chuẩn đoán và xét nghiệm HIV là khía cạnh quan trọng nhất trong chăm sóc và phòng ngừa. Bệnh nhân không được chẩn đoán kịp thời khiến cho khả năng lây nhiễm của họ cao hơn và chậm kiểm soát bệnh. Hãy tìm hiểu thêm về khía cạnh quan trọng này của chăm sóc và phòng ngừa."
---

{% include header.html %}
{% include chapter_content.html %}
