---
layout: default
type: chapter
chapter_number: "8"
image: chapter_8_feature.jpg

en:
  title: CBO and IDU
  intro: "In this chapter we are exploring two different areas. The work of Community Based Organisations or CBO, and some specific aspects of HIV for intravenous drug users or IDU.CBO are groups formed by and for specific HIV+ communities. Often established by people of the same risk groups, but who now offer support for people newly diagnosed or struggling to manage their health. CBO provide an important peer support network. The use of Methadone in controlling drug addiction plays a significant part in controlling HIV/AIDS in Vietnam. Learn how this important treatment is managed in Ho Chi Minh City and how it helps communities at risk.."
vi:
  title: CBO và IDU
  intro: "Trong chương này chúng ta khám phá 2 lĩnh vực khác nhau. Công việc của các nhóm tự lực hay còn gọi là CBO, và một số khía cạnh cụ thể của HIV đối với người sử dụng tiêm chích ma tuý.CBO là các nhóm thành lập bởi và dành riêng cho cộng đồng người nhiễm HIV. Thường xuyên được tạo nên bởi các cá nhân đã từng nằm trong cùng nhóm nguy cơ nhưng hiện nay giang tay giúp đỡ các trường hợp mới phát hiện hoặc đang gặp khó khăn điều trị. Một mạng lưới hỗ trợ của đồng đẳng viên. Các CBO này cung cấp rất nhiều loại dịch vụ và một sự hỗ trợ mang tính cảm thông mà thường các cơ quan chính phủ khó thường khó thực hiện. IDU và điều trị Methadone là phàn còn lại của chương này. Nó rất quan trọng vì gánh nặng HIV mà cộng đồng IDU đã gánh trong quá khứ tại Việt Nam."
---

{% include header.html %}
{% include chapter_content.html %}
