---
layout: default
type: chapter
chapter_number: "3"
image: chapter_3_feature.jpg

en:
  title: Prevention
  intro: "Prevention is a complicated undertaking when dealing with HIV.  The human behaviors and social factors are just as important as the biology of the infection – and just as challenging to address. The development of good quality and affordable medication has been critical in controlling the disease, as has good social and economic support."
vi:
  title: Phòng Chống
  intro: "Phòng chống là một công việc phức tạp khi đối phó với HIV. Những hành vi của con người và yếu tố xã hội có cùng tầm quan trọng với yếu tố sinh học của căn bệnh  - và cũng đầy thách thức trong xử lý. Sự xuất hiện của thuốc chất lượng tốt và giá cả hợp lý đã luôn vô cùng quan trọng trong việc kiểm soát căn bệnh này, cũng như sự hỗ trợ tốt về kinh tế và xã hội."
---


{% include header.html %}
{% include chapter_content.html %}
