---
layout: default
type: chapter
chapter_number: "2"
image: chapter_2_feature.jpg

en:
  title: Transmission
  intro: "HIV Transmission is well documented and understood in Vietnam as it is strongly focused on risk group behaviours that have allowed the disease to prosper within certain highly beneficial situations.  The significant sex work industry and consumption of intravenous drugs such as heroin, created somewhat of a haven in the early days of HIV in Vietnam.  The trends in transmission are constantly changing so researchers need to wok hard to keep on top of those developments – always looking out for who might be the new high risk group."
vi:
  title: "Lây Nhiễm"
  intro: "Truyền nhiễm HIV được lưu giữ và tìm hiểu rất kỹ ở Việt Nam vì nó tập trung mạnh vào các nhóm hành vi nguy cơ đã tạo điều kiện cho căn bệnh được phát triển trong một số tình huống có lợi. Ngành công nghiệp mại dâm và việc tiêu thụ các loại thuốc phiện tiêm như he-ro-in một cách đáng kể, đã tạo ra một dạng thiên đường trong những ngày đầu của HIV tại Việt Nam. Các xu hướng truyền bệnh đang thường xuyên thay đổi nên các nhà nghiên cứu cần làm việc cật lực để nắm bắt được những sự phát triển này – luôn luôn tìm kiếm những người có thể là nhóm nguy cơ cao mới."
---

{% include header.html %}


<div id="chapter" class="chapter_wrap chapter{{ page.chapter_number }}">

  <div id="bgimage" class="bgimage"></div>

  <aside class="sidebar">
    {% include chapter_nav.html %}
    {% include theme_nav.html chapter_number=page.chapter_number %}
  </aside>

  <header id="intro" class="header--chapter">
    {% include chapter_head.html %}
  </header>

  <main class="main" role="main">
    {% include theme_loop.html chapter_number=page.chapter_number %}
  </main>
</div>
