---
layout: default
type: chapter
chapter_number: "10"
image: chapter_10_feature.jpg

en:
  title: Communication
  intro: "Communication around HIV has been a major aspect of prevention. AIDS sprung to infamy and with it a global response that heavily demonised the virus – which also cast a shadow over people diagnosed as HIV+. Now we have ARV and better life expectancy, the communication and messaging is much more varied and intelligent but one thing remains; communication is key in controlling HIV/AIDS."
vi:
  title: Truyền thông
  intro: "Truyền thông chung quanh HIV vẫn luôn là một khía cạnh quan trọng của công tác phòng chống. Khi AIDS trở thành đại dịch và phản ứng toàn cầu là biến con virus này thành ác quỷ - trong khi ARV đến vài năm nữa mới được tìm ra – chỉ có những chiến dịch xã hội mới có thể khuyến khích thay đổi hành vi và là cách duy nhất để chống lại sát nhân cao tay này. Hiện nay các thông điệp đã đa dạng và tinh tế hơn, tuy nhiên một điều vẫn đọng lại; với một bệnh dịch mang tính xã hội, truyền thông là chìa khoá để giảm và thậm chí loại trừ nó"
---

{% include header.html %}
{% include chapter_content.html %}
