/**
 * Main Navigation
 */
.main_nav {
  position: absolute;
  right: 2vw;
  top: 2vh;
  .current {
    color: red;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    li a {
      padding: 1em;
    }
  }
}
/**
 * Chapter Navigation
 */
.chapter_nav {
  margin-left: 2vw;
  //  position: fixed;
  //  top: 14%;
  min-width: 250px;
  min-height: 70px;
  z-index: 77;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    list-style: none;
    //max-width: 22vw;
    li {
      margin: 0 0.5em 0.8em 0;
      align-self: center;
      text-align: center;
      max-width: 1.8em;
      min-width: 1.8em;
      max-height: 1.8em;
      min-height: 1.8em;
      a {
        display: block;
        color: #333;
        background: #FFF;
        //padding: 0.4em 0;
        line-height: 2em;
        transition: all 0.2s;
        &.active {
          background: $yellow;
          color: #000;
        }
        &:hover {
          background: $yellow;
          color: #000;
        }
      }
      //  &.active a:after {
      //    @include triangle(30px 9px, transparent #000, up);
      //    bottom: -10px;
      //  }
    }
  }
  h4 {
    //margin-top: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 400;
    border-top: 1px solid #FFF;
    padding: 0.4em 0 0;
    margin-bottom: 0.2em;
    //font-size: 1.4rem;
    color: #fff;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 400;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 0.3em 0;
    margin-top: 1em;
    //font-size: 1.4rem;
    color: #fff;
  }
}
/**
 *  Theme Navigation
 */
.theme_nav {
  // position: fixed;
  // top: 32%;
  //transform: translateY(-50%);
  z-index: 77;
  margin-left: 2vw;
  a {
    display: block;
    padding: 0.3em 0;
    position: relative;
    padding-right: 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 300ms;
    opacity: 0.7;
    font-size: 1.1vw;
    &:hover {
      transform: translate(2vw) scale(1.2);
      opacity: 1;
    }
    &.active {
      transform: translate(2vw) scale(1.2);
      opacity: 1;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    width: auto;
    list-style: none;
  }
}
